<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        input {
            width: 100%;
            height: 100%;
            margin: 0;
        }
        html {
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        body {
            padding: 0;
            margin: 0;
        }
        </style>
    </head>
    <body>
        <input></input>
    </body>
    <script>
        // Every two seconds....
        setInterval(function() {
            // Send the message "Hello" to the parent window
            // ...if the domain is still "davidwalsh.name"
            parent.postMessage("Hello","https://www.messenger.com");
        }, 2000);
    </script>
</html>