<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        input {
            width: 100%;
            height: 100%;
            margin: 0;
        }
        html {
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        body {
            padding: 0;
            margin: 0;
        }
        </style>
    </head>
    <body>
        <input id="test"></input>
    </body>
    <script>
        input = document.getElementById("test");
        input.onkeydown = function(e) {
            var event = window.event ? window.event : e;
            // Send the key code to the parent window
            // ...if the domain is still "messenger.com"
            if (event.keyCode == 13) {
                input.value = input.value + " encrypted";
                parent.postMessage(input.value, "*");
                input.value = "";
            }
            
        };
    </script>
</html>