{% extends "main.html" %}

{% block title %}Test Message App | Home{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <h2>Love letters</h2>
            <div id="messages-wrapper" class="col-md-12" style="height: 70vh; overflow-x: hidden; overflow-y: scroll;">
                {% if messages %}
                    {% for m in messages | reverse %}
                        <label for="{{m.sender}}">{{ m.sender }} ({{ m.dt }})</label>
                        <p id="{{m.sender}}">{{ m.message }}</p>
                    {% endfor %}
                {% else %}
                    <p>No messages found.</p>
                {% endif %}
            </div>
            <div class="col-md-12 footer">
                <h2>Tell me about your day :)</h2>
                <form id="mainform" method="post">
                    <div class="form-group">
                        <input id="message" class="form-control" name="message" placeholder="Your message here" required autocomplete="off">
                    </div>
                    <input class="btn btn-default" type="submit" value="Submit" style="visibility: hidden;">
                </form>
            </div>
            <script>
                $(document).ready(function() {
                    messagesWrapper = $('#messages-wrapper')[0]
                    height = messagesWrapper.scrollHeight - messagesWrapper.clientHeight;
                    $('#messages-wrapper').animate({ scrollTop: height }, 0);
                    $('#message').get(0).focus();
                });
            </script>
        </div>
    </div>

{% endblock %}